<h1 style="text-align: center; margin-left: auto; margin-right: auto;">
  <%= @article.headline %>
</h1>
<br />
<h3 style="text-align: center">
  <%= @article.deck %>
</h3>
<br />
<p style="width: 500px; margin-left: auto; margin-right: auto;">
  <%= @article.bodytext.html_safe %>
</p>
