<%= form_for :section, url: sections_path, method: :post do |f| %>

  <h3> Add a new section </h3>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "+ Add", :class => "btn btn-confirm btn-xs" %>

<% end %>