<div id="frontpagecontent">
	<div id="main">
		<div id="news" data-next="#features" class="main-item">
			<div class="main-headline">
				Poll: NMS dev team deemed unfit to code
			</div>
			<div class="main-deck">
				Insert deck here for more information about the story
			</div>
			<div class="main-content">
				<div class="main-photo">
					<img src="http://upload.wikimedia.org/wikipedia/commons/b/b3/Various_grains.jpg" alt="this photo"></img>
					<div class="main-photo-byline">
						Dan Bruce/<i>The Polytechnic</i>
					</div>
					<div class="main-photo-caption">
						A scientific survey found that, although this bread looks pretty darn tasty, the NMS developers aren't competent individuals.
					</div>	
				</div>
				<div class="main-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae quam ante. Sed non orci in ipsum mattis eleifend sit amet sollicitudin metus. Pellentesque nisi ipsum, mollis quis ultrices gravida, porta quis diam.</p>
					<p>Ut ac laoreet ligula. Nunc sit amet lorem scelerisque, interdum risus id, dapibus ante. Pellentesque interdum eu nunc in sodales. Nullam rutrum, diam sed faucibus scelerisque, augue dui ullamcorper ligula, nec sagittis eros eros et dui. Nulla facilisi. Maybe a few more words here...</p>
					<div class="main-readmore">
						<a href="link/to/this/article">Read more...</a>
					</div>
				</div>
			</div>
		</div>
		<div id="features" data-next="#news" class="main-item">
			<div class="main-headline">
				Second headline here is pretty freaking awesome
			</div>
			<div class="main-content">
				<div class="main-photo">
					<img src="http://upload.wikimedia.org/wikipedia/commons/b/b3/Various_grains.jpg" alt="this photo"></img>
					<div class="main-photo-byline">
						Dan Bruce/<i>The Polytechnic</i>
					</div>
					<div class="main-photo-caption">
						A scientific survey found that, although this bread looks pretty darn tasty, the NMS developers aren't competent individuals.
					</div>	
				</div>
				<div class="main-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae quam ante. Sed non orci in ipsum mattis eleifend sit amet sollicitudin metus. Pellentesque nisi ipsum, mollis quis ultrices gravida, porta quis diam.</p>
					<p>Ut ac laoreet ligula. Nunc sit amet lorem scelerisque, interdum risus id, dapibus ante. Pellentesque interdum eu nunc in sodales. Nullam rutrum, diam sed faucibus scelerisque, augue dui ullamcorper ligula, nec sagittis eros eros et dui. Nulla facilisi. Maybe a few more words here...</p>
					<div class="main-readmore">
						<a href="link/to/this/article">Read more...</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>