<div id="frontpagecontent">
	<div id="main">
		<div class="main-headline">
			Poll: NMS dev team deemed unfit to code
		</div>
		<div class=main-content>
			<img src="picture123.jpg" alt="this photo" class="main-photo"></img>
			<div class="main-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae quam ante. Sed non orci in ipsum mattis eleifend sit amet sollicitudin metus. Pellentesque nisi ipsum, mollis quis ultrices gravida, porta quis diam. Ut ac laoreet ligula. Nunc sit amet lorem scelerisque, interdum risus id, dapibus ante. Pellentesque interdum eu nunc in sodales. Nullam rutrum, diam sed faucibus scelerisque, augue dui ullamcorper ligula, nec sagittis eros eros et dui. Nulla facilisi...
				<div class="main-readmore">
					<a href="link/to/this/article">Read more...</a>
			</div>
		</div>
	</div>
</div>
