/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, h3, h4, h5, h6 {
 	margin: 0;
 	padding: 0;
 }


 /*fonts used in body*/
/*
font-family: 'Open Sans', sans-serif;				<--- body text (contains 400 and 700 weights in both straight and italics)
font-family: 'Source Sans Pro', sans-serif;	<--- headlines, decks (contains 600 and 900 weights in both straight and italics)
font-family: 'Droid Serif', serif;					<--- special uses, maybe blockquotes (contains 400 and 700 weights in both straight and italics)

link: https://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro:600,900,600italic,900italic|Droid+Serif:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700

*/

/*

Poly red: #d81e05

*/

#kc {
	width: 300px;
	background: rgba(230,230,230,.85);
	color: black;
	text-align: center;
	position: absolute;
	border: 2px solid black;
	border-radius: 5px;
	padding: 1em;
	top: 2em;
	left: 50%;
	margin-left: -150px;
	z-index: 9999;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 20px;
	font-weight: 400;
}

#kc h2 {
	font-size: 30px;
	font-weight: 700;
}

#bggray {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 9998;
	position: absolute;
	top: 0;
	left: 0;
}

a:link {
	color: #d81e05;
}

a:visited {
	color: #bf1b04;
}

a:hover {
	color: #a61704;
}

#login {
	text-align: center;
}