// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.article_search {
	text-align: center;
}

.article_search_input {
	width: 65%;
	height: 50px;
	font-size: 24px;
}

.padding1em {

	div {
		padding-left: 1em;
		padding-right: 1em;
	}
}

#article_headline, #article_deck, #article_bodytext, #article_organization_id, #article_section_id {
	width: 100%;
}

#article_create {
	text-align: center;
}

#create {
	width: 200px;
}