#mast {
	/*min-width: 100px;*/
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

a:link {
	color: #d81e05;
}

a:visited {
	color: #bf1b04;
}

a:hover {
	color: #a61704;
}