// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mast {
        /*min-width: 100px;*/
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
}

