// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "compass/css3/";

header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: $polyreddarker;
}

.header-row-1 {
  padding: 1em 0;
  @include transition-property(all);
  @include transition-duration(.7s);
  @include transition-timing-function(ease-in);
}

.header-row-1.headershrink {
  padding: 5px 0;
  height: 60px;
  @include transition-property(all);
  @include transition-duration(.7s);
  @include transition-timing-function(ease-in);
}

.logo {
  height: 86px;
  text-align: center;
  @include transition-property(all);
  @include transition-duration(.7s);
  @include transition-timing-function(ease-in-out);
}

.logo.logoshrink {
  height: 50px;
  @include transition-property(all);
  @include transition-duration(.7s);
  @include transition-timing-function(ease-in-out);
}

.content {
  margin-top: 200px;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  @include transition-property(all);
  @include transition-duration(.7s);
  @include transition-timing-function(ease-in);
}


#connect-buttons {
  word-spacing: 5px;
  vertical-align: middle;
  height: 100%;

  div {
    vertical-align: middle;
  }

  i {
    color: white;

    &:hover {
      color: #ddd;
    }
  }
}

#search {
  display: inline-block;
  float: right;
}



#searchform {
  display: inline-block;
}

/*
body {
background-image: url(image_path('site/bg.png'));
}
*/

.clearer { clear: both; }

#umast {
  margin-top: -1em;
}

#uumast {
  width: 100%;
  margin: 1em 0;
  padding: .5em 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#sections {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #ddd;
  padding: 8px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline;

      a:link, a:visited, a:active {
        color: black;
      }
      a:hover {
        color: $polyreddarker;
      }
    }
  }

  li:before {
    content: "\00a0\00a0\00a0|\00a0\00a0\00a0";
  }

  li:first-child:before {
    content: none;
  }
}

.main-item {
  position: absolute;
  min-height: 400px;
  max-height: 600px;
  opacity: 0;
}

.main-content {
  margin-top: 10px;
}


.main-headline {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 900;
  font-size: 30px;	
  text-align: justify;
  color: black;
  line-height: 1;
}

.main-deck {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 600;
  font-size: 20px;	
  text-align: justify;
  color: black;
  line-height: 1;
}


.main-photo {
  display: inline-block;
  vertical-align: top;

  img {
    width: 100%;
    border: 1px solid black;
  }
}

.main-photo-caption {
  text-align: justify;
  text-indent: 20px;
  font-weight: bold;
}

.main-photo-byline {
  font-size: 10px;
  text-align: right;
}

.main-text {
  width: 30%;
  display: inline-block;

  p { 
    text-align: justify;
    text-indent: 20px;
    margin: 0 !important;
  }
}

.main-readmore {
  text-align: right;
}