<h4> Inactive Members </h4>
<table class="table">
  <tr>
    <th> Name </th>
    <th> Position </th>
    <th> Actions </th>
  </tr>
  <% @memberships.each do |mem| %>
    <% if !mem.user.is_active? %>
      <tr> 
        <td> <%= mem.user.name %> </td>
        <td>
        </td>
        <%= render partial: "manage_members_actions", locals: { mem: mem} %>
      </tr>
    <% end %>
  <% end %>
</table>