<!DOCTYPE html>
<html>
<head>
  <title>The Rensselaer Polytechnic | Serving the RPI community since 1885</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="icon" 
      type="image/png" 
      href=""> --> <!-- this has to go to app/assets/images/favicon.png -->
  <meta charset="UTF-8">
  <meta name="description" content="The Rensselaer Polytechnic is the student-run, newspaper of Rensselaer Polytechnic Institute. It publishes weekly and includes news, features, editorial/opinion, and sports sections.">
  <meta name="keywords" content="Rensselaer,RPI,The Rensselaer Polytechnic,newspaper,news,features,editorial,opinion,Troy,Capital District">
</head>
<body>

<%= yield %>

</body>
</html>
