<!DOCTYPE html>
<html>
<head>
  <title>The Rensselaer Polytechnic | Serving the RPI community since 1885</title>
  <!-- *************************** -->
  <%= stylesheet_link_tag "application.css" %>
  <link rel="icon" type="image/png" href="../../assets/images/favicon.png">
  <%= javascript_include_tag "application.js" %>
  <!-- get rid of this in the real deployment -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900,600italic,900italic|Droid+Serif:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700&subset=latin,greek,latin-ext' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <meta name="description" content="The Rensselaer Polytechnic is the student-run, newspaper of Rensselaer Polytechnic Institute. It publishes weekly and includes news, features, editorial/opinion, and sports sections.">
  <meta name="keywords" content="Rensselaer,RPI,The Rensselaer Polytechnic,newspaper,news,features,editorial,opinion,Troy,Capital District">
</head>
<body>

  <div id="header">
    <div id="connect">
    </div>
    <div id="mast">
      <%= image_tag "header/mast.png", alt: "poly mast" %>
    </div>
    <div id="search">
    </div>
  </div>

  <%= yield %>

</body>
</html>

